* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.celphone {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 450px;
    height: 600px;
}

.login-box {
    border: 2px solid rgb(219,219,219);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 380px;
    height: 380px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.btn {
    background-color: rgb(0,149,246);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn a {
    text-decoration: none;
    color: white;
}

p a {
    text-decoration: none;
    color: rgb(0,149,246);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.topics-1 {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.topics-2 {
    font-size: 14px;
    display: flex;
    gap: 18px;
}

.footer a {
    text-decoration: none;
    color: rgb(142,142,142);
    height: 5px;
}

.end {
    display: flex;
    gap: 20px;
}

.end select {
    color: rgb(142,142,142);
    border: none;
    width: 130px;
}

@media (max-width: 876px){
    .celphone {
        display: none;
    }
}

@media (max-width: 454px){
    .login-box {
        border: none;
    }
}